button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 10px 15px 20px hsla(240, 100%, 50%, 0.656);
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 20%);
    text-align: left;
    color: white;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.key-btn{
    background-color: hsl(39, 100%, 50%);
}
.key-btn:hover{
    background-color: hsla(39, 100%, 50%, 0.837);
}
.key-btn:active{
    background-color: hsl(30, 95%, 50%);
}
h1{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px red;
}

@media only screen and (max-width: 499px){
    #keys{
        padding: 0;
        gap: 5px;
    }
}